@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />

<h1 style="text-align: center;">---------------------------------------------------------------</h1>
<h1 class="display-4" style="text-align: center;"><strong> <em>EventEase Venue Booking System</em> </strong></h1>
<h1 style="text-align: center;">---------------------------------------------------------------</h1>

